<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/head :: head"></div>
    <!--    Styles non linkable by thymeleaf-->
    <link as="style" href="css/style.css" rel="preload">
    <link href="css/style.css" rel="stylesheet">
    <title>Añadir invitado</title>
</head>
<body class="margin-top-to-nav-on-body-plus background-template-img">
<div th:insert="fragments/header :: header"></div>
<div class="container">
    <h2>Añade invitado</h2>
    <hr/>
    <div class="form-group">
        <form class="form-group" method="POST" th:action="@{/guardar-nuevo-invitado}"
              th:object="${attendant}">
            <label for="name">Nombre</label>
            <input class="form-control col-4 mb-4" id="name" placeholder="Nombre" th:field="*{name}" type="text"/>
            <label for="surname">Apellidos</label>
            <input class="form-control col-4 mb-4" id="surname" placeholder="Apellidos" th:field="*{surname}"
                   type="text"/>
            <label for="dob">Fecha de nacimiento</label>
            <input class="form-control col-4 mb-4" id="dob" placeholder="Fecha de nacimiento" th:field="*{dob}"
                   type="date"/>
            <label for="ph">Teléfono</label>
            <input class="form-control col-4 mb-4" id="ph" placeholder="Teléfono" th:field="*{ph}" type="text"/>
            <label for="attendingStatus">Asistencia</label>
            <select class="input-group form-control col-4 mb-4" id="attendingStatus" name="attendingStatus">
                <option disabled hidden selected value="">Asistencia</option>
                <option th:each="attendingStatusOpt : ${T(com.jorgealvarez.myboda.model.Status).values()}"
                        th:text="${attendingStatusOpt.displayValue}" th:value="${attendingStatusOpt}"></option>
            </select>
            <label for="specialRequirement">Peticiones especiales</label>
            <input class="form-control col-4 mb-4" id="specialRequirement" placeholder="Peticiones especiales"
                   th:field="*{specialRequirement}" type="text"/>
            <input th:field="*{id}" type="hidden"/>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 pl-0 bg-light text-left">
                        <button class="btn btn-primary mb-4 " type="submit">Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>