<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:insert="fragments/head :: head"></div>
		<title>Editar asistente</title>
	</head>
	<body>
	<div th:insert="fragments/header :: header"></div>
		<div class="container">
			<h2>Añade o edita un asistente</h2>
			<hr/>
			<form th:action="@{/guardar-nuevo-asistente}" th:object="${attendant}" method="POST">
				<input type="text" th:field="*{name}" class="form-control col-4 mb-4" placeholder="Nombre" />
				<input type="text" th:field="*{surname}" class="form-control col-4 mb-4" placeholder="Apellidos" />
				<input type="date" th:field="*{dob}" class="form-control col-4 mb-4" placeholder="Fecha de nacimiento" />
				<input type="text" th:field="*{ph}" class="form-control col-4 mb-4" placeholder="Teléfono" />
				<select class="input-group form-control col-4 mb-4" name="attendingStatus">
					<option value="" disabled selected hidden>Asistencia</option>
					<option th:each="attendingStatusOpt : ${T(com.jorgealvarez.myboda.model.Status).values()}"
							th:value="${attendingStatusOpt}" th:text="${attendingStatusOpt.displayValue}"></option>
				</select>
				<input type="text" th:field="*{specialRequirement}" class="form-control col-4 mb-4" placeholder="Peticiones especiales"/>
				<button type="submit" class="btn btn-primary col-2">Guardar</button>
				<input type="hidden" th:field="*{id}" />
			</form>
			<hr/>
			<a th:href="@{/asistentes}">Volver a la lista</a>
		</div>
<!--		TODO: intentar hacer que se haga dinámico title y h2. Si no, eliminar el scrip-->
		<script src="js/javascript.js"/></script>
	</body>
</html>