<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--		TODO: descargar al proyecto-->
    <!--		TODO: ¿crear un nav?-->

    <link href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css"
          rel="stylesheet"
          type="text/css"/>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          rel="stylesheet"/>
    <title>Asistentes a la boda asociados contigo</title>
</head>
<body>
<div class="container">
    <h2>Asistentes</h2>
    <hr/>
    <a class="btn btn-primary" th:href="@{/nuevoAsistente}">Añadir asistente</a>
    <br/><br/>
    <table class="table table-bordered table-striped" id="attendantTable">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Fecha de nacimiento</th>
            <th>Teléfono</th>
            <th>¿Asistencia?</th>
            <th>Peticiones especiales</th>
            <th>Confirmación de peticiones especiales</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="attendant: ${attendants}">
            <td th:text="${attendant.name}"/>
            <td th:text="${attendant.surname}"/>
            <td th:text="${attendant.dob}"/>
            <td th:text="${attendant.ph}"/>
<!--            TODO: que aparezca el value del enum, no el literal-->
            <td th:text="${attendant.attendingStatus}"/>
            <td th:text="${attendant.specialRequirement}"/>
            <td th:text="${attendant.specialRequirementStatus}"/>
            <td>
                <a class="btn btn-info btn-sm " th:href="@{/editarAsistente(attendantId=${attendant.id})}">Actualizar</a>
                <a class="btn btn-danger mt-1 btn-sm" th:href="@{/eliminarAsistente(attendantId=${attendant.id})}">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="js/jquery.js"></script>
<script src="js/table-conf.js"></script>
<script src="js/table.js"/></script>
</body>
</html>