<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="fragments/head :: head"></div>
    <link href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css"
          rel="stylesheet"
          type="text/css"/>
    <!--    Styles non linkable by thymeleaf-->
    <link as="style" href="css/style.css" rel="preload">
    <link href="css/style.css" rel="stylesheet">
    <title>Tu grupo de invitados</title>
</head>

<body class="margin-top-to-nav-on-body-plus background-template-img ">
<div th:insert="fragments/header :: header"></div>
<div class="container">
    <h2>Tu grupo de invitados</h2>
    <hr/>
</div>

<div class="row justify-content-center">
    <div class="col-auto">
        <a class="btn btn-primary mb-4" th:href="@{/nuevo-invitado}">Añadir invitado</a>
        <table class="table-bordered table-striped table-responsive" id="attendantTable">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Fecha de nac.</th>
                <th>Teléfono</th>
                <th>Asistencia</th>
                <th>Pet. especiales</th>
                <th>Conf. de pet. especiales</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="attendant: ${attendants}">
                <td th:text="${attendant.name}"/>
                <td th:text="${attendant.surname}"/>
                <td th:text="${attendant.dob}"/>
                <td th:text="${attendant.ph}"/>
                <td th:switch="${attendant.attendingStatus}">
                <span th:case="${T(com.jorgealvarez.myboda.model.Status).CONFIRMED}">Confirmado</span>
                <span th:case="${T(com.jorgealvarez.myboda.model.Status).NOT_CONFIRMED}">No confirmado</span>
                <span th:case="${T(com.jorgealvarez.myboda.model.Status).CANCELED}">Cancelado</span>
                <td th:text="${attendant.specialRequirement}"/>
                <td th:text="${attendant.specialRequirementStatus}"/>
                <td>
                    <a class="btn btn-info btn-sm " th:href="@{/editar-invitado(attendantId=${attendant.id})}">Actualizar</a>
                    <a class="btn btn-danger btn-sm" th:href="@{/eliminar-invitado(attendantId=${attendant.id})}">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<script src="js/jquery.js"></script>
<script src="js/table-conf.js"></script>
<script src="js/table.js"/>
</script>
</body>
</html>