<html lang="es"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/head :: head"></div>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:fragment="header">
    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbar" data-toggle="collapse"
            type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/index">Nuestra boda<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/asistentes">Tu grupo de asistentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/nuevo-asistente">Añade asistente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lista-de-bodas">Lista de bodas</a>
            </li>
            <li class="nav-item dropdown ml-auto active">
                <a class="nav-link" href="/login"
                   sec:authorize="!isAuthenticated()">Acceder</a>
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                   data-toggle="dropdown" href="#" id="logged" role="button"
                   sec:authentication="name" sec:authorize="isAuthenticated()"></a>
                <div aria-labelledby="userManagement" class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/logout">Cerrar sesión</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>

