<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/head :: head"></div>
    <title>Lista de bodas</title>
    <!--    Styles non linkable by thymeleaf-->
    <link as="style" href="css/style.css" rel="preload">
    <link href="css/style.css" rel="stylesheet">

</head>
<body class="margin-top-to-nav-on-body weddinglist">
<div th:insert="fragments/header :: header"></div>
<header class="header" id="weddinglist-header">

    <div class="contenedor">
        <div class="barra">
            <h1 class="logo logo__nombre no-margin centrar-texto">Lista de<span
                    class="logo__bold">Boda</span></h1>
        </div>
    </div>

    <div class="header__texto">
        <h2 class="no-margin">¡Muchas gracias a todos por vuestra generosidad!</h2>
        <h2 class="no-margin">Ya sabeís que no tenéis ningún compromiso y que el detalle es vuestra presencia.</h2>

    </div>
</header>

<div class="contenedor contenido-principal">
    <main>
        <h2>Agenda</h2>

        <article class="entrada contenido-principal-col1">
            <div class="entrada__imagen">
                <picture>
                    <source loading="lazy" srcset="img/thanks.webp" type="image/webp">
                    <img alt="imagen blog" loading="lazy" src="img/thanks.jpg">
                </picture>
            </div>

            <div class="entrada__contenido">
                <h4 class="no-margin">La ceremonia</h4>
                <p>Tendrá lugar el día 2 de julio a las 12:00 en la ermita de San Juan de Gaztelugatxe (Vizcaya)</p>

            </div>
        </article>

        <article class="entrada contenido-principal-col1">
            <div class="entrada__imagen">
                <picture>
                    <source loading="lazy" srcset="img/table-5356682_1920.webp" type="image/webp">
                    <img alt="imagen blog" loading="lazy" src="img/table-5356682_1920.jpg">
                </picture>
            </div>

            <div class="entrada__contenido">
                <h4 class="no-margin">El banquete</h4>
                <p>A las 14:30 nos esperan en el fantástico restaurante Akelarre, con su chef Pedro Subijana a la
                    cabeza.</p>
            </div>
        </article>

        <article class="entrada contenido-principal-col1">
            <div class="entrada__imagen">
                <picture>
                    <source loading="lazy" srcset="img/disco-ball-3426765_1920.webp" type="image/webp">
                    <img alt="imagen blog" loading="lazy" src="img/disco-ball-3426765_1920.jpg">
                </picture>
            </div>

            <div class="entrada__contenido">
                <h4 class="no-margin">La noche es joven</h4>
                <p>Para los más aventureros, tenemos preparada una sorpresa especial...
                    Tendremos a nuestra disposción desde las 20:00 hasta la 01:00 la
                    genial discoteca Bataplan</p>

            </div>
        </article>
    </main>

</div>

<footer class="footer">
    <div class="contenedor">
        <div class="barra">
            <<h1 class="logo logo__nombre no-margin centrar-texto">Nuestra<span
                class="logo__bold">Boda</span></h1>
        </div>
    </div>
</footer>

<script src="js/modernizr.js"></script>
</body>
</html>