<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/head :: head"></div>
    <title>Lista de boda</title>
    <!--    Styles non linkable by thymeleaf-->
    <link as="style" href="css/style.css" rel="preload">
    <link href="css/style.css" rel="stylesheet">

</head>
<body class="margin-top-to-nav-on-body weddinglist">
<div th:insert="fragments/header :: header"></div>
<header class="header" id="weddinglist-header">
    <div class="contenedor">
        <div class="barra">
            <h1 class="logo logo__nombre no-margin centrar-texto">Lista de <span
                    class="logo__bold">Boda</span></h1>
        </div>
    </div>

    <div class="header__texto">
        <h2 class="no-margin">¡Muchas gracias a todos por vuestra generosidad!</h2>
        <h2 class="no-margin">Ya sabeís que no tenéis ningún compromiso y que el detalle es vuestra presencia.</h2>
    </div>
</header>
<main>
    <br>
    <h2>Propuestas</h2>
    <br>
    <div class="contenedor "></div>
    <article class="entrada weddinglist-entrada">
        <div class=" weddinglist-entrada__imagen__fila__1 ">
            <picture>
                <source loading="lazy" srcset="img/banco.webp" type="image/webp">
                <img alt="imagen banco" loading="lazy" src="img/banco.jpg">
            </picture>
        </div>
        <div class="weddinglist-entrada__contenido__fila__1 {">
            <h4 class="no-margin">Banco de jardín</h4>
            <p>Nos encanta este banco de jardín porque nos recuerda al que nos sentamos el día
                que nos conocimos. Maecenas lacinia vestibulum tristique. Morbi mollis sapien ac volutpat placerat. In
                sed pretium lacus.
                Morbi iaculis, orci eu porttitor pharetra, justo lacus sollicitudin felis, et
                vestibulum odio nunc a augue. Ut id enim urna. In id sapien mi. Integer volutpat, ipsum vitae tincidunt
                interdum, est lectus condimentum nulla, in tincidunt velit quam a ante. Duis pellentesque justo erat, ac
                sagittis nunc ultricies vel. Mauris a sodales velit, nec venenatis purus. Curabitur fringilla libero
                lacinia, volutpat libero ac, elementum magna. Etiam ut orci nec quam tincidunt lacinia vitae vitae
                felis. Vivamus faucibus felis urna, ornare pellentesque turpis bibendum eget. Sed luctus neque sed
                facilisis ullamcorper. Aliquam iaculis odio id nisi semper, ac mollis turpis tincidunt.
        </div>
        <div class="form-check form-check-block mt-3 weddinglist-entrada__check__fila__1">
            <input class="form-check-input mt-3 " type="checkbox" value="" id="gift1">
            <label class="form-check-label" for="gift1">
                <p>&nbsp;Yo me encargo...</p>
            </label>
        </div>
    </article>

    <article class="entrada weddinglist-entrada">
        <div class="entrada__imagen weddinglist-entrada__imagen__fila__2 ">
            <picture>
                <source loading="lazy" srcset="img/tv.webp" type="image/webp">
                <img alt="imagen tv" loading="lazy" src="img/tv.jpg">
            </picture>
        </div>
        <div class="weddinglist-entrada__contenido__fila__2">
            <h4 class="no-margin">Televisor</h4>
            <p>Ayúdanos a acurrucarnos para ver nuestra serie favorita. Prometemos pensar en ti durante la introducción
                de cada episodio...
                In interdum, elit eget egestas pretium, nunc ex viverra erat, et auctor elit sem ut massa. Integer
                turpis felis, pharetra faucibus odio in, ultricies maximus dui. Ut sollicitudin urna libero, sed
                efficitur neque semper non. Ut ac dictum mauris, at congue ante. Sed non nibh vel neque vestibulum
                luctus a in dui. Etiam dapibus ligula nibh, quis vehicula ipsum interdum ac. Interdum et malesuada fames
                ac ante ipsum primis in faucibus. Nullam at justo enim.</p>
        </div>
        <div class="form-check form-check-block mt-3 weddinglist-entrada__check__fila__2">
            <input class="form-check-input mt-3 " type="checkbox" value="" id="gift2">
            <label class="form-check-label" for="gift2">
                <p>&nbsp;Yo me encargo...</p>
            </label>
        </div>
    </article>

    <article class="entrada weddinglist-entrada">
        <div class="weddinglist-entrada__imagen__fila__3 ">
            <picture>
                <source loading="lazy" srcset="img/kitchen.webp" type="image/webp">
                <img alt="imagen cocina" loading="lazy" src="img/kitchen.jpg">
            </picture>
        </div>
        <div class="weddinglist-entrada__contenido__fila__3 {">
            <h4 class="no-margin">Cocina Isla</h4>
            <p>Una de las mayores ilusiones que siempre hemos tenido para cuando acabemos nuestra nueva casa es tener
                una cocina isla.
                Curabitur diam purus, vulputate vitae elit ut, sagittis molestie orci. Interdum et malesuada fames ac
                ante ipsum primis in faucibus. Nam euismod bibendum placerat. Vivamus convallis metus mattis, cursus
                justo quis, laoreet purus. Nam eget semper diam, in mollis sapien. Sed quam erat, mollis vel ligula sit
                amet, finibus sodales mauris. Ut egestas sit amet orci at tristique. Suspendisse ac tempor lorem, et
                tempor est. Curabitur consequat massa id porttitor semper. Donec ornare, dui sed congue mollis, massa
                orci euismod lectus, id tempus odio mauris quis metus. Aliquam feugiat tortor velit, ut suscipit libero
                molestie id. Nullam leo ipsum, varius eget neque non, congue vehicula ex. Morbi ac scelerisque
                neque. </p>
        </div>
        <div class="form-check form-check-block mt-3 weddinglist-entrada__check__fila__3">
            <input class="form-check-input mt-3 " type="checkbox" value="" id="gift3">
            <label class="form-check-label" for="gift3">
                <p>&nbsp;Yo me encargo...</p>
            </label>
        </div>
    </article>
</main>
</div>
<footer class="footer">
    <div class="contenedor">
        <div class="barra-footer">
            <h1 class="logo logo__nombre no-margin right-texto">Lista de <span
                    class="logo__bold">Boda</span></h1>
        </div>
    </div>
</footer>
<div th:insert="fragments/scripts :: scripts"></div>
<script src="js/modernizr.js"></script>
</body>
</html>